.bigFlexDiv{
    min-width: 45%;
    padding: 20px;
    margin: 10px;
    float: left;
}
.smallFlexDiv{
    min-width: 20%;
    padding: 20px;
    margin: 10px;
    float: left;
}
textarea{
    width: 95%;
}

.floatRightButton{
    float: right; 
    border: 2px solid black;
    border-radius: 8px;
    font-family: Calibri, serif;
    font-size: 20px;
    color: black;
    vertical-align: middle;
}

.optionsTable{
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}
table.optionsTable > tr{
    border: 2px solid black;
}
table.optionsTable > tr > td{
    border: 2px solid black;
}